node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


/doku/*.aux
/doku/*.fdb_latexmk
/doku/*.fls
/doku/*.lof
/doku/*.log
/doku/*.out
/doku/*.gz
/doku/*.toc


.idea/